
$navi-color:navajowhite ;
$header-color:darkblue;
/*$buttons-color: ; !* - przyciski, wyróżnienia, nagłówki ekranów*!
$back-color: ; !*- kolor tła ekranów*!
$info-color: ; !*- !*kolor wiadomości typu info,*!
$warning-color: ; !* - kolor wiadomości typu warning*!
$success-color:;  !*- kolor wiadomości typu success*!
$basket-color: ; !* - kolor ikony kosza*!
$tab-color: ; !* - kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji *!*/
