div.categories {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 600px;
  background-image: url("3583238new.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  ul {
    position: absolute;
    top: 40px;
    left: 40px;

    li {
      list-style: none;
      margin: 5px;
      font-family: 'Parisienne', cursive;
      color: navajowhite;
      font-size: 25px;

      a {
        color: navajowhite;
        font-size: 25px;
      }
    }
  }
}